/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.tmp
*.depend
*.o
*.a
*.o.d
*.o.cmd
*.a.cmd
*.ko.cmd
*.ko
*.mod
*.mod.c
*.mod.cmd
*.order
*.orig
*.patched
Module.symvers
output/
obj/
imgtvm/
